[Unit]
Description=UUARDOPD daemon
After=ardop.service
Requires=ardop.service

[Service]
Type=simple
ExecStart=/usr/bin/uuardopd -i /tmp/uucp2.fifo -o /tmp/uucp1.fifo -c AA2AAA -d AA2AAA -a 127.0.0.1 -p 8515 -t 60
ExecStop=/usr/bin/killall -s QUIT uuardopd
IgnoreSIGPIPE=no
#StandardOutput=null
#StandardError=null
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
