[Unit]
Description=UUARDOPD daemon
After=vara.service
Requires=vara.service

[Service]
Type=exec
ExecStart=/usr/bin/uuardopd -a 127.0.0.1 -p 8515 -r vara -o shm
ExecStop=/usr/bin/killall -s SIGTERM uuardopd
IgnoreSIGPIPE=no
StandardOutput=syslog
StandardError=syslog
Restart=always
TimeoutSec=3
ExecStartPre=/bin/sleep 1

[Install]
WantedBy=multi-user.target
