[Unit]
Description=UUARDOPD daemon
After=ardop.service
Requires=ardop.service

[Service]
Type=simple
ExecStart=/usr/bin/uuardopd -a 127.0.0.1 -p 8515 -t 30
ExecStop=/usr/bin/killall -s QUIT uuardopd
IgnoreSIGPIPE=no
#StandardOutput=null
#StandardError=null
StandardOutput=syslog
StandardError=syslog
#Restart=always
#TimeoutSec=30
ExecStartPre=/bin/sleep 1

[Install]
WantedBy=multi-user.target
